<div id="navbar-mobile" class="nav-container">
  <span id="show-menu" class="menu-icon" onclick="showMenu()">&#9776;</span>
  <a class="menu-item menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
</div>

<div id="navbar">
  <div id="hide-menu" class="menu-icon" onclick="hideMenu()">✖</div>

  <a class="menu-item menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  <div class="menu-item menu-subtitle">Projetos</div>
  {% for post in site.posts %}
    <a class="menu-item menu-item-post" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
  {% endfor %}

  <div class="menu-item menu-subtitle">Info</div>
  {% assign menuPages = site.pages | where:"menu","true" %}
  {% for page in menuPages %}
    <a class="menu-item menu-item-page" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
  {% endfor %}
</div>

<script>
  function showMenu() {
    document.getElementById('navbar').style.left = '0';
    document.getElementById('hide-menu').style.display = 'block';
    document.getElementById('show-menu').style.display = 'none';
  }

  function hideMenu() {
    document.getElementById('navbar').style.left = -document.getElementById('navbar').offsetWidth+'px';
    document.getElementById('show-menu').style.display = 'block';
  }
</script>
