<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div id="post">
        <div id="navbar-mobile" class="nav-container">
          <div id="show-menu" class="menu-icon" onclick="showMenu()">&#9776;</div>
        </div>

        {% unless page.permalink == '/' %}
          <div class="post-title">{{ page.title }}</div>
        {% endunless %}
        <content>
          {{ content }}
          {% include swipebox.html %}
        </content>
      </div>
    </div>
  </body>
</html>
